.container {
    // border: 1px solid #f00;
    padding: 15px;
    width: 250px;

    .title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .errorMessageLoginContainer {
        border: 1px solid #f00;
        width: 250px;
        display: flex;
        justify-content: space-between;

        .errorMessage {
            color: #f00;
        }
    }

    .dataLogoutContainer {
        width: 250px;
        display: flex;
        justify-content: space-between;

        .privateData {
            font-size: 10px;
        }
    }
}
